:root {
  --text-color: rgba(20, 20, 20, 0.8); /* 80% black (dark gray) */
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #fd3808, #c22d87, #3a5182);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.main-header {
  padding-top: 20px;
  padding-bottom: 40px;
}

.container {
  width: 100%;
  margin: 5% auto 10% auto;
  background-color: white;
  padding: 20px 20px 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1 {
  text-align: center;
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: 1.6em;
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

h1 {
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.questions-form {
  padding: 20px 60px;
}

button[type="submit"] {
  background-color: #fd3808;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}